<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Collaboration Portal</title>

    <script src="/app/js/jquery-1.11.0.js"></script>
    <script src="/app/js/jquery.min.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/app/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/app/css/sb-admin.css" rel="stylesheet">
   


    <!-- Morris Charts CSS -->
    <link href="/app/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/app/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


</head>

<body>


    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                  <!--    {% if user.is_active  %} -->
                     <b> Welcome user</b>
                <!--    {% endif %}-->
                     <b class="caret"></b></a>
                    <!-- <ul class="dropdown-menu">
                        
                        <li>
                            <a href="/accounts/password/change"> Change Password</a>
                        </li>
                        <li>
                            <a href="/accounts/logout">Log Out</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <!-- <li>
                        <a href="/admin"> Admin</a>
                    </li> -->
                    <li class="active">
                        <a href="/"> Dashboard</a>
                    </li>
                   <!--  <li>
                       <a href="javascript:;" data-toggle="collapse" data-target="#demo"> Activity Monitor <i class="fa fa-fw fa-caret-down"></i></a>
                       <ul id="demo" class="collapse">
                           <li>
                               <a href="#">Trend Reports</a>
                           </li>
                           <li>
                               <a href="#">Active users</a>
                           </li>
                       </ul>
                   </li> -->
                    <li>
                        <a href="pad.html">Collaboration Pad</a>
                    </li>
                    <!-- <li>
                        <a href="#"> Usage Statistics</a>
                    </li>
                    <li>
                        <a href="#"> About</a>
                    
                    
                    <li>
                        <a href="#"> FAQs</a>
                    </li> -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Collaboration <small> Overview Dashboard</small>
                        </h1>
                    </div>
                </div>





 <div class="jumbotron">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bar-chart-o fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">1</div>
                                        <div style="padding-left:10px">Active users</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right">
                                    </i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">5</div>
                                        <div>Total Users</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa  fa-flag fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">1</div>
                                        <div>Open Pads</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-bookmark fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">0</div>
                                        <div>Reminders</div>
                                    </div>
                                </div>
                            </div>
                            <a href="#">
                                <div class="panel-footer">
                                    <span class="pull-left">View Details</span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>


   <div id ="chart">
      
              

                        
                   
<!--{% block title %}Chart <small>Charts</small>{% endblock %} --> 

             <div class="col-lg-12"> 
                 <!--   <div class="col-lg-6"> -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> User Activity</h3>
                            </div>
                            <div class="panel-body">

                                



                                <div id="polls_container" style="width: 900px ;height: 500px">
                               

                                </div>
                                <script type="text/javascript">
                                var chart;
                                var chartdate =  ['{{ date|join:"','" }}']
                                /*alert(chartdate[0].substring(0,4))*/

                                var tmp = [];

                                tmp = chartdate[0].substring(0,4)

                                for(i = 0;i<chartdate.length;i++){

                                    temp1 = new Date(chartdate[i]);
                                    temp2=temp1.getDate() + "-" + (temp1.getMonth()+1) + "-14";

                                    chartdate[i] = temp2;
                                    /*tmp.push(temp2);*/
                                }
                                /*var chartdate =  [{{ date }}]*/
                                jQuery(document).ready(function() {
                                    chart = new Highcharts.Chart({
                                        chart: {
                                            renderTo: 'polls_container',
                                            defaultSeriesType: 'line',
                                            marginRight: 130,
                                            marginBottom: 80,
                                            /*zoomType: 'x'*/
                                        },
                                        title: {
                                            text: ' ',
                                            x: -20 //center
                                        },
                                        subtitle: {
                                            text: '',
                                            x: -20
                                        },
                                        xAxis: {
                                           type: 'datetime',
                                           //dateTimeLabelFormats: { // don't display the dummy year
                                           //month: '%e. %b',
                                          // year: '%b'
                                           //},
                                            /*tickInterval : 12*30*24*3600* 1000,*/
                                            /*min : chartdate[0],
                                            max : chartdate[20],*/
                                            /*categories: [ '{{ categories|join:"','" }}']*/
                                            //categories:  chartdate

                                          categories: ['Jan', 'Feb','Mar', 'Apr', 'May', 'Jun', 'Jul']
                                        },
                                        yAxis: {
                                            title: {
                                                text: 'Number of Edits (add/del/mods)'
                                            },
                                            plotLines: [{
                                                value: 0,
                                                width: 1,
                                                color: '#808080'
                                            }]
                                        },
                                        tooltip: {
                                            formatter: function() {
                                                    return ''+ this.series.name +''+this.x +': '+ this.y;
                                            }
                                        },
                                        legend: {
                                            layout: 'vertical',
                                            align: 'right',
                                            verticalAlign: 'top',
                                            x: -10,
                                            y: 100,
                                            borderWidth: 0
                                        },
                                        series: [
                                        {
                                            name: 'Server Admin',
                                            data: [1, 27, 34, 39, 46, 56]
                                            //data: [{{ total_enrolled|join:"," }}]
                                            //data: [{{ ct|join:"," }}]
                                        },
                                        {
                                            name: 'Front End Dev',
                                            /*data: [{{ undergrad|join:"," }}]*/
                                            //data: [{{ air|join:"," }}]
                                            data: [18, 22, 30, 34, 40, 47]
                                        }, {
                                            name: 'UI Designer',
                                            /*data: [{{ grad|join:"," }}]*/
                                            //data: [{{ aero|join:"," }}]
                                            data: [1, 2, 4, 4, 5, 7]
                                        }, 
                                        {
                                            name: 'Back End Dev',
                                            
                                            //data: [{{ ct|join:"," }}]
                                            data: [12, 13, 10, 11, 21, 2]
                                        }
                                        ]
                                    });

                                });
                                </script>
                            </div>
                        </div>

                    </div>

            </div> <!-- /.row --> <!-- jumbotron div ends here -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->



      <!-- jQuery Version 1.11.0 -->
    <script src="/app/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/app/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/app/js/plugins/morris/raphael.min.js"></script>
    <script src="/app/js/plugins/morris/morris.min.js"></script>
    <script src="/app/js/plugins/morris/morris-data.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/app/js/highcharts.js"></script>



</body>

